<article [id]="id">
  <div class="admin">
    <a [routerLink]="[id, 'edit']">Edit</a>
    <a [routerLink]="['id', 'delete']">Delete</a>
  </div>
  <a [routerLink]="['/', id]" class="h"><h3>{{title}}</h3></a>
  <div class="infos">by {{author}} - {{date}}</div>
  <p>
    <span [innerHTML]="text"></span> <a *ngIf="isSliced" [routerLink]="['/', id]">...Read more</a>
    </p>
  <div class="toolbar">
    <button (click)="toggleLike()" [ngClass]="{'liked': isLiked}">
        {{isLiked? 'Unlike' : 'Like' }}
      ({{likeNum}})
    </button>
    <button (click)="onGoToComments()">Comments: {{commentNum}}</button>
   </div>
</article>
