<article [id]="article.id">
  <a [routerLink]="['article','v',article.id]" class="h"><h3>{{article.title}}</h3></a>
  <div class="infos">by {{article.author}} - {{dateFormat}}</div>
  <p>
    {{article.text}} ...<a [routerLink]="['article','v',article.id]">Read more</a>
  </p>
  <div class="toolbar">
    <button (click)="toggleLike()" [ngClass]="{'liked': isLiked}">
        {{isLiked? 'Unlike' : 'Like' }}
      ({{likeNum}})
    </button>
    <button>Comments: {{cCount}}</button>
   </div>
</article>
