<article [id]="article.id">
  <div class="admin">
    <a [routerLink]="[article.id, 'edit']">Edit</a>
    <a [routerLink]="['article.id', 'delete']">Delete</a>
  </div>
    <h2>{{article.title}}</h2>
    <div class="infos">{{dateFormat}}</div>
    <p [innerHTML]="article.text">

    </p>
    <div class="toolbar">
      <button (click)="toggleLike()" [ngClass]="{'liked': isLiked}">
          {{isLiked? 'Unlike' : 'Like' }}
        ({{likeNum}})
      </button>
      by {{article.author}}
     </div>
     <h4 id="#comments">Comments</h4>
     <hr>
     <app-add-comment (addComment)="addComment($event)"></app-add-comment>
     <app-comment-view *ngFor="let comment of comments" [comment]="comment" (removeEvent)="removeComment($event)"></app-comment-view>
  </article>

