body,
html {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
f4,
h5,
h6 {
  font-family: "Montserrat", serif;
  letter-spacing: 0.1em;
}


.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(10vh, auto) minmax(80vh, auto) minmax(10vh, auto);
  grid-template-areas:
    "hd"
    "main"
    "side"
    "ft";
}

@media (min-width: 720px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "hd hd hd hd"
      "main main main side"
      "ft ft ft ft";
  }
}

.container > * {
  padding: 1em;
}

header {

  grid-area: hd;
}

.article-container {

  grid-area: main;
}

.sidebar {

  grid-area: side;
}

footer {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-area: ft;
}
