body,html {
    margin:0;
    padding:0;
    font-family: "Open Sans",Arial, Helvetica, sans-serif;
}

*{ box-sizing: border-box;}


.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
	grid-column-gap: .5%;
	grid-row-gap: .5vh;
	grid-auto-flow: dense;
}

.container >*{
    padding: 1em;
}

header {
    background-color: #7caeff;
    grid-column: 1/-1;
}

.article-container {
    background-color: #7cff98;
}

.sidebar {
    background-color: #ffb77c;
}

footer {
    background-color: #857cff;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    grid-column: 1/-1;
}