{{define "sidebar"}}
    <div class="sidebar-element profile">
        <strong>Gianpaolo Rossin</strong>
        <p>Hi! My name is Gianpaolo and this is a blog I wrote entirely in Go.</p>
        <p>Enjoy!</p>
    </div>
{{end}}