/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Barlow:300,700|Montserrat);

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", serif;
  letter-spacing: 0.1em;
}
