/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/css?family=Barlow:300,700|Montserrat);

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", serif;
  letter-spacing: 0.1em;
}

hr {
  border: none;
  border-bottom: 1px solid #ddd;
}

a {
  text-decoration: none;
  color: #3277ff;
  transition: color 80ms ease-in-out;
}

a:hover {
  color: #0055ff;
}


a.h {
  color: inherit;
}


button {
  border: 1px solid hsl(220, 100%, 85%);
  background-color: hsl(220, 100%, 95%);
  padding: 0.5em 1em;
  margin-right: 1em;
  color: hsl(220, 45%, 25%);
  border-radius: 0.2em;
  transition: background-color 80ms ease-in-out;
  cursor: pointer;
}

button:hover:enabled {
  background-color: hsl(220, 100%, 80%);
}

button:disabled{
  background-color: hsl(220, 100%, 93%);
  color: hsl(220, 16%, 60%);
}


input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, .editor.ng-invalid.ng-touched .ql-snow{
  border: 1px solid rgb(255, 81, 81) !important;
  box-shadow: 0px 0px 5px hsl(0, 100%, 74%)!important;
}


article {
  margin: 1em 0.2em;
  padding: 1.5em 1.5em;
}
.liked {
  background-color: hsl(220, 100%, 85%) !important;
}

strong {
  font-weight: bold;
}

@media (min-width: 756px) {
  article {
    margin: 1em;
    padding: 1.5em 1.5em;
    border-radius: 0.2em;
  }
}
