<div class="comment">
  <div class="toolbar">
    <button (click)="onToggleEdit()">{{!isEdit? 'Edit' : 'Cancel'}} </button>
    <button (click)="onRemoveComment()">Remove</button></div>
  <p *ngIf="!isEdit; else editor">
    <span class="name">{{comment.name}}</span>
    <span class="content">{{comment.content}}</span>
  </p>
  <ng-template #editor>
    <form (ngSubmit)="onEditComment(commentInput.value)" #f="ngForm">
      <textarea name="commentContent" #commentInput required [ngModel]="comment.content" rows="5"></textarea><br>
      <button type="submit" [disabled]="!f.valid">Invia</button>
    </form>
  </ng-template>

</div>
