.name {
  font-weight: bold;
  padding-right: 0.5em;
}

.comment {
  position: relative;
  background-color: hsl(220, 60%, 90%);
  padding: 0.5em 1.5em;
  margin-top: 1em;
}

.toolbar {
  position: absolute;
  right: 2em;
  top: 1em;
}
