
{{define "article"}}
    <article class="blog-article">
        <h3>Heading</h3>
        <hr>
        <div class="article-date">December 16, 2017</div>
        <p>
            Some content here.
        </p>
    </article>
{{end}}


{{define "articles"}}
    {{template "article"}}
{{end}}